body {
	margin: 0px;
	padding: 0px;
	font-size: 18pt;
	background-color: #88aa88;
}

.container  {
    background-color: #002200;
    color: #ddffdd;
}

.red {
    color: #FFFFFF;
}

.small {
    font-size: 80%
}

.big {
    font-size: 120%
}

.italic {
    font-style: italic;
}

