<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{{ page.title }}"/>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />

    <meta name="twitter:image" content="https://greenordie.org/assets/img/twitter.png">

    <meta property="og:title"           content="{{ page.title }}" />
    <meta property="og:description"     content="{{ page.title }}" />
    <meta property="og:type"            content="article" />

    <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">

    <script src="/assets/mithril.min.js"></script>  <!-- original at https://unpkg.com/mithril@2.2.2/mithril.min.js -->
    <script src="/assets/main.js"></script>
</head>

<body>


<div class="container mt-md-5 mt-0 pt-md-5 pt-2 pb-md-5 pb-2">
        <div class="px-md-5 px-2 pt-5 pb-4">
            <h1 class="text-white mb-0"><i class="fa-solid fa-heart redd big" style="color: #e01b24;"></i> {{ page.title }}</h1>
<!--            <div class="ml-4 mt-0 pt-0 text-white">cars are for losers</div>-->
        </div>
        <div class="px-md-5 px-2 py-md-2 py-0">
            {{ content }}
        </div>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://thefile.net/piwik2/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 27]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://thefile.net/piwik2/piwik.php?idsite=27" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
